
<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <label for="ch">Employees:</label>
    
    <div id="userList"></div>

    <script>
        const socket = io.connect();

        socket.on('connect', () => {
            fetchUsers();
			
        });


        function fetchUsers() {
            fetch('http://localhost:3000/employee/showEmployees/')
                .then(response => response.json())
                .then(users => {
                    displayUsers(users);
                })
                .catch(error => console.error('Error fetching users:', error));
        }

      function displayUsers(users) {
  const userListDiv = document.getElementById('userList');
  userListDiv.innerHTML = ''; // Clear previous content

  users.forEach(user => {
    const userDiv = document.createElement('div');

    

    userDiv.textContent = `Full Name: ${user.FullName}, Rank: ${user.Rank}, Salary: ${user.Salary}`;
    userListDiv.appendChild(userDiv);
  });
  let count = 0; // Initialize a counter variable

for (const user of users) {
  if (user.Salary > 4000) {
    count++; // Increment the counter for each user exceeding 4000 salary
  }
}
   
      alert(` ${count} Employees exceed 4000 salary`);
}

        function searchByUsername() {
            const username = prompt('Enter username to search:');
            if (username) {
                fetch(`http://localhost:3000/user/getbyusername?username=${username}`)
                    .then(response => response.json())
                    .then(users => {
                        if (users.length === 0) {
                            alert(`No user found with the username "${username}"`);
                        } else {
                            displayUsers(users);
                        }
                    })
                    .catch(error => console.error('Error fetching users:', error));
            }
        }
    </script>
</body>
</html>
